@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@layer utilities {

    .max-container {
        margin-right: auto;
        margin-left: auto;
        max-width: 1180px;
    }

    .flexCenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flexBetween {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flexStart {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .flexEnd {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    /* FONTS */
    .regular-48 {
        font-size: 48px;
        font-weight: 400;
    }

    .regular-16 {
        font-size: 16px;
        font-weight: 300;
    }

    .regular-12 {
        font-size: 12px;
        font-weight: 300;
    }

    .regular-11 {
        font-size: 11px;
        font-weight: 300;
    }

    .medium-70 {
        font-size: 70px;
        font-weight: 500;
    }

    .medium-64 {
        font-size: 64px;
        font-weight: 500;
    }

    .medium-55 {
        font-size: 55px;
        font-weight: 500;
    }

    .medium-48 {
        font-size: 48px;
        font-weight: 500;
    }

    .medium-24 {
        font-size: 24px;
        font-weight: 500;
    }

    .medium-20 {
        font-size: 20px;
        font-weight: 500;
    }

    .medium-16 {
        font-size: 16px;
        font-weight: 500;
    }

    .medium-12 {
        font-size: 12px;
        font-weight: 500;
    }

    .medium-9 {
        font-size: 9px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .bold-20 {
        font-size: 20px;
        font-weight: 800;
    }

    .bold-24 {
        font-size: 24px;
        font-weight: 800;
    }
    .bold-64 {
        font-size: 64px;
        font-weight: 800;
        text-transform: uppercase;
    }

}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

